@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}

.fonts{
    width: 400px;
    margin: 100px auto;
    font-size: 20px;
}

.fonts i{
    font-size: 5em;
    color: blue;
}